<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sesac_final_project">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="sesac_final_project"
        android:icon="@mipmap/ic_launcher">
        ...
    </application>
</manifest>
